.#top-form, #reply-form {
  display: table;
  width: 416px;
  color: #aaa;
}

#top-form {
  margin: 0 auto;
}

.form {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#glagne a.muted {
  color: #999;
  font-size: 11px;
}

#logo .third-party {
  font-family: 'Share Tech Mono', monospace;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 13px;
  color: #eee;
}

.form.loading  table {
  -webkit-filter: blur(1px)
   -moz-filter: blur(1px);
   -o-filter: blur(1px);
   -ms-filter: blur(1px);
   -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ;
   opacity: 0.5;
}

.form table {
  position: relative;
  z-index: 5;
  border-spacing: 0px 3px;
}

.form tr td:first-child {
  font-size: 12px;
  padding: 3px 5px;
  width: 100px;
  background: #282828;
  border: 1px solid #111;
  color: #d8d8d8;
}

.form tr td:last-child {
  width: 300px;
  padding: 0px;
}

.form textarea {
  width: 295px;
  min-width: 295px;
  max-width: 295px;
  height: 110px;
  min-height: 110px;
  max-height: 110px;
}

.form input[type=text] {
  width: 295px;
}

.form input, .form textarea, .form select {
  margin-left: 7px;
}

.form input[type=text], textarea {
  background: #282828;
  border: 1px solid #383838;
  color: #d8d8d8;
}

.form .submit {
  float: right;
  // width: 70px;
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 12px;
}

.form .auth-form {
  padding: 0px;
  margin: 0px;
}

.form-preloader {
  display: none;
}

.form.loading .form-preloader {
  display: block !important;
}

.form-preloader {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
}

.form-preloader span {
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  color: #ddd;
  padding: 10px 0px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
}

.auth-please {
  margin-left: 7px;
}


/* ---- data/1FiSxj2yDPeGuuf6iBwRAXvEMQJATAZNt6/css/lib/main.css ---- */


html, body {
  background: #181818;
  color: #d8d8d8;
  font-family: arial,helvetica,sans-serif;
  min-width: 900px;
  margin: 0px;
  padding: 0px;
}


html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0px 10px !important;
}

#header, #form-call-button, .post-reply-button, .form {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

#header {
  // max-width: 900px;
  // min-height: 10px;
  margin: 0 auto;
  color: #ab4642;
  padding: 10px 0px;
  font-family: Tahoma;
  text-align: center;
}

#board-header.hidden {
  display: none;
}

#board-header h1 {
  font-size: 18pt;
  margin: 0px;
}

#board-header h2 {
  font-size: 9pt;
  margin: 0px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ab4642;
}


#header.hidden {
  display: none;
}

hr {
  border: none;
  border-bottom: 1px solid #555;
  margin-bottom: 15px;
}

#glagne hr {
  margin: 0px !important;
}

#form-call-button {
  text-align: center;
  cursor: pointer;
  color: #aaa;
  font-family: 'Share Tech Mono', monospace;
  font-size: 12px;
  display: table;
  margin: 0 auto;
}

#empty-board {
  font-size: 14px;
  text-align: center;
  padding-top: 40px;
  color: #ddd;
}

#stats {
  float: right;
}

#form-call-button span {
  font-size: 14px;
}

#form-call-button:hover {
  color: #cf9;
}

#form-call-button:hover span.text {
  color: #fff;
}

#header, #container {
  // max-width: 900px;
  // margin: 5px;
}

a {
  color: #7cafc2;
}

a:hover {
  color: #86c1b9;
}

#header a {
  text-decoration: none;
  font-size: 8pt;
  margin: 4px;
}


#container {
  padding-top: 10px;
  display: none;
}

.post {
  display: table;
  min-width: 420px;
  overflow: hidden;
  margin: 0.2em 4px;
  max-width: 94%!important;
  padding: 0.5em 0.3em 0.5em 0.6em;
  position: relative;
  border: 1px solid;
}

#reply-form {
  margin: 0.2em 4px;
}

.post.with-file.not-empty {
  min-width: 520px;
}

.post.opening {
  border-color: #181818;
}

.post .title a {
  font-size: 18px;
  color: #ddd;
}

.post .info {
  font-size: 12px;
  min-height: 17px;
}

.post .info.with-file {
  line-height: 0.6;
}

.post.highlighted {
  border: 1px solid #666 !important;
  background-color: #373737 !important;
}

.post .time-and-id {
  display: inline-block;
  color: #888;
  margin-bottom: 6px;
  margin-top: 5px;
}

.post .post-id {
  font-weight: normal;
  text-decoration: none;
  color: #aaa;
  font-style: normal;
  cursor: pointer;
}

.post-id:hover {
  color: #86c1b9;
}

.post .time-and-id strong {
  color: #aaa !important;
}

.post .time-and-id strong.anonymous {
  color: inherit !important;
  font-weight: normal;
}

.attachment {
  position: relative;
  margin-right: 10px;
  margin-bottom: 5px;
}

.attachment img {
  position: relative;
  z-index: 2;
  float: left;
  margin-right: 13px;
  opacity: 0.4;
}

.image-loading {
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 0px;
  font-size: 12px;
  color: #aaa;
}

.attachment-info {
  font-size: 10px;
  color: #888;
  margin-bottom: 6px;
}

.attachment-info a {
  color: inherit;
  color: #999;
}

.post .text {
  border: none;
  padding: 0px;
  font-size: 13px;
  color: #d8d8d8;
  margin: 5px 5px 5px 15px;
}

.post .references {
  display: block;
  margin-top: 10px;
  font-size: 10px;
}

.skip-gap {
  border: 1px dashed #777;
  padding: 6px 8px;
  display: table;
  color: #777;
  font-size: 12px;
  margin: 0.3em 4px;
  cursor: pointer;
}

.skip-gap:hover {
  border-color: #86c1b9;
}

.thread-link:hover {
  color: #86c1b9;
}

.skip-gap:hover .expand-button {
  color: #86c1b9;
}

.expand-button {
  color: #7cafc2;
  text-decoration: underline;
}

.post.reply, .preloader-inner {
  background-color: #282828;
  border-width: 1px;
  border-style: solid;
  border-left-color: #383838;
  border-top-color: #383838;
  border-right-color: #282828;
  border-bottom-color: #282828;
  padding: 0px 7px 10px 7px;
}

.post.reply .time-and-id {
  padding-top: 2px;
}

#preloader {
  position: absolute;
  top: 25%;
  left: 0px;
  right: 0px;
  text-align: center;
  display: none;
}

#preloader.shown {
  display: block;
}

.preloader-inner {
  display: table;
  margin: 0 auto;
  padding: 14px !important;
  width: 150px;
}

.preloader-inner span {
  display: block;
  font-family: monospace;
  font-size: 16px !important;
  color: #bbb;
}


.template {
  display: none;
}

#thread-form {
  background: #252525;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#form-title {
  height: 20px;
  width: 420px;
}

.form-group:first-child {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0px
}

#thread-form .submit {
  float: right;
  height: 32px;
  background: #333;
  // width: 150px;
}

.editbox {
  font-size: 12px;
  color: #bbb;
  margin-bottom: 3px;
}

.editbox em { 
  margin-right: 10px; 
  cursor: pointer;
}

.editbox em:hover {
  color: #cf6 !important;
}

.editbox em.link {
  text-decoration: underline;
}

em           { font-style: normal }
em.bold      { font-weight: bold }
em.italic    { font-style: italic }
em.underline { text-decoration: underline }
em.strike    { text-decoration: line-through }
em.quote     { font-style: italic; }

em.spoiler {
  padding: 0px 2px 0px 2px;
}

#thread-form .form-text {
  width: 588px;
  height: 120px;
}

.auth-please {
  color: #bbb;
  cursor: pointer;
}

.auth-please u {
  color: orange;
}

.auth-please, .post-as {
  margin-top: 4px;
  font-family: Verdana, sans-serif;
  font-size: 10px;
}

.post-as label {
  color: #bbb;
}

.post-as label em {
  color: #9cc250;
}

.post-as label:first-child {
  margin-right: 10px;
}

.form.blurred, .form.blurred input, .form.blurred textarea, .form.blurred em {
  cursor: wait !important;
}

.form.blurred {
  opacity: 0.5 !important;
}


.thread {
  margin-top: 40px;
  margin-bottom: 40px;
}

em.quote {
  font-style: normal;
  color: #789922;
}

#canvas {
  display: none;
}

.fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s ;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.thread-link {
  display: inline-block;
  color: #7cafc2;
  margin-left: 10px;
  text-decoration: none;
  font-size: 10pt;
}

.thread-link:hover {
  color: #86c1b9;
}

.thread-link:hover span {
  text-decoration: none;
  color: #86c1b9;
}

#not-found {
  /*background: red;*/
  text-align: center;
  margin-top: 50px;
}

#not-found h1 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 28px; 
  color: #ddd;
  margin: 0px;
}

#not-found a {
  color: #777;
  font-size: 14px;
}


#glagne {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  width: 450px;
  cursor: default;
}

#glagne pre {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h2 {
  color: #ccc;
}

#glagne .inner {
  width: 400px;
  margin: 0 auto;
}

#glagne blockquote {
  color: #999;
  font-size: 12px;
  margin: 0;
  margin: 7px 0px 7px 0px;
}

.monospace {
  font-family: monospace !important;
}

hr.white {
  border-color: #eee;
}

#board-list {
  font-size: 13px;
}

#board-list span, .board-list-container span {
  color: #888;
  font-size: 12px;
  font-family: tahoma;
}

#board-list .unread {
  text-align: right;
  padding-right: 4px;
  font-size: 11px !important;
  min-width: 10px;
  color: #86c1b9;
}

#board-list td {
  text-align: left;
  padding: 3px 0px 3px 0px;
}

.inner table {
  width: 100%;
}

.inner table td {
  text-align: left;
  vertical-align: top;
}

#board-list .board-link {
  padding-top: 3px;
  display: block
}

.inner blockquote {
  text-align: left;
  float: right;
  font-size: 12px;
  max-width: 200px;
  border-left: 1px solid #555;
  padding-top: 5px;
  padding-left: 15px;
  color: #ccc !important;
  // margin: 0px 0px 15px 0px !important;
  margin: 0px !important;
}

.inner blockquote span {
  color: #999 !important;
  font-size: 11px;
}

.inner blockquote span em {
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
  color: orange;
}

#board {
  padding-top: 20px;
  text-align: center;
}


#board-list thead th {
  font-weight: normal;
  font-size: 12px;
  color: #888;
}

.post .text a {
  color: #7cafc2;  
}

.post .text a:hover {
  color: #86c1b9 !important;
}

.post .text hr {
  margin: 0px;
  padding: 0px;
  border: none;
  height: 4px;
}

.post-wrapper {
  overflow: hidden;
}


.pagify-pagination {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #aaa;
}

.pagify-pagination:last-child {
  margin-bottom: 15px;
}

.pagify-pagination div {
  display: inline;
}
.pagify-pagination .page-el {
  margin: 0;
  margin-right: 10px;
  padding: 0px 7px;
  color: #aaa; 
}

.pagify-pagination .page-el:hover {
  background: #777;
}

.pagify-pagination .ellipsis {
  margin-right: 1em;
  background: inherit;
  cursor: default;
}
.pagify-pagination a {
  text-decoration: none;
}
.pagify-pagination .selected a {
  color: #7cafc2;
  text-decoration: underline;
  cursor: default;
}

.pagify-pagination .selected a:hover {
  background: none;
  color: #7cafc2 !important;
}


.post-reply-button {
  margin: 0px 10px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dotted;
  opacity: 0;
  display: inline;
}

.post-reply-button.shown {
  opacity: 1 !important;
  color: #888 !important;
  font-weight: bold !important;
  cursor: default;
}

.post-reply-button.shown:hover {
  color: #888 !important;
}

.post-wrapper:hover .post-reply-button {
  opacity: 1;
  color: #7cafc2;  
}

.post-reply-button:hover {
  color: #cf6 !important;
  font-weight: bold;
}

a.to-threads {
  display: table;
  width: 200px;
  position: absolute;
  top: 130px;
  left: 40px;
  font-size: 14px;
  text-decoration: none !important;
}

a.to-threads:hover em {
  color: #86c1b9;
}

a.to-threads em {
  font-size: 50px;
  color: #888;
}

#glagne .counters {
  margin-top: 15px;
  color: #bbb;
  display: table;
}

.reflinks {
  display: inline-block;
  margin: 0px 6px;
  font-size: 10px;
}

.reflinks a {
  text-decoration: none;
  margin-right: 5px;
}
